/*=============== BUTTONS ===============*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #1A1A1A; // Use color black for yellow
    padding: .75rem 1.5rem;
    border-radius: 3rem; 
    font-weight: var(--font-semi-bold);
    transition: .3s;
    
    &:hover{
        background-color: var(--first-color-alt);
    }

    &__header{
        display: none;
        padding: 15px 50px;
    }

    &-link{
        background: #018FA3;
        border-radius: 40px;
        width: 219px;
        height: 68px;
        color: white;
        padding-top: 20px;
        margin-top: 50px;
        &:hover{
            opacity: 70%;
            color: black;
        }
    }

    &-flex{
        display: inline-flex;
        align-items: center;
        column-gap: .25rem;
        padding: .75rem 1rem;
    }

    &__icon{
        font-size: 1.5rem;
    }
}