/*=============== FOOTER ===============*/
.footer{
    background-color: #0A2530;
    padding-bottom: 2rem;

    &__container{
        row-gap: 2rem;
    }
    &__content{
        color: white;
    }

    &__logo, 
    &__title{
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-0-75);
        color: white;
    }
    &__logo{
        display: inline-block;
        font-weight: var(--font-semi-bold);
        color: white;
    }
    &__description,
    &__link{
        font-size: var(--small-font-size);
    }
    &__links{
        display: grid;
        row-gap: .5rem;
    }
    &__link{
        color: white;
    }
    &__social{
        display: flex;
        column-gap: 1.5rem;
        color: white;
        &-link{
            font-size: 1.25rem;
            color: white;
        }
        &-link:hover{

            opacity: 70%;

        }
    }
    &__copy{
        margin-top: 6rem;
        text-align: center;
        font-size: var(--smaller-font-size);
        color: white;
    }
}